html body {
	font-size: 100%; /* to change the site's font size, change .foswikiPage below */
	font-family: Arial,Helvetica;
	font-size:small;
}

.foswikiPage {
	line-height:1.5em; /*S1*/
	font-family:arial, verdana, sans-serif;
	/* change font size here */
	font-size: 10px;
	min-width: 600px;
}

html>body { /* Mozilla */
	font-size:small;	
}

h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 126%; }
h4 { font-size: 118%; }
h5 { font-size: 108%; }
h6 { font-size: 100%; }

/* Shrink headers in tables */
table h1 { font-size: 125%; }
table h2 { font-size: 117%; }
table h3 { font-size: 113%; }
table h4 { font-size: 109%; }
table h5 { font-size: 104%; }
table h6 { font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
	background: none;
	font-weight: normal;
	margin: 0;
	padding-top: .5em;
	padding-bottom: .17em;
	border-bottom: 1px solid #aaa;
	page-break-after: avoid
}

h3, h4, h5, h6 {
	border-bottom: none;
	font-weight: bold;
}

/* colors */
.foswikiYellowFG { color:#ffff00; }
.foswikiOrangeFG { color:#ff6600; }
.foswikiRedFG    { color:#ff0000; }
.foswikiPinkFG   { color:#ff00ff; }
.foswikiPurpleFG { color:#800080; }
.foswikiTealFG   { color:#008080; }
.foswikiNavyFG   { color:#000080; }
.foswikiBlueFG   { color:#0000ff; }
.foswikiAquaFG   { color:#00ffff; }
.foswikiLimeFG   { color:#00ff00; }
.foswikiGreenFG  { color:#008000; }
.foswikiOliveFG  { color:#808000; }
.foswikiMaroonFG { color:#800000; }
.foswikiBrownFG  { color:#996633; }
.foswikiBlackFG  { color:#000000; }
.foswikiGrayFG   { color:#808080; }
.foswikiSilverFG { color:#c0c0c0; }
.foswikiWhiteFG  { color:#ffffff; }

.foswikiYellowBG { background-color:#ffff00; }
.foswikiOrangeBG { background-color:#ff6600; }
.foswikiRedBG    { background-color:#ff0000; }
.foswikiPinkBG   { background-color:#ff00ff; }
.foswikiPurpleBG { background-color:#800080; }
.foswikiNavyBG   { background-color:#000080; }
.foswikiBlueBG   { background-color:#0000ff; }
.foswikiTealBG   { background-color:#008080; }
.foswikiAquaBG   { background-color:#00ffff; }
.foswikiLimeBG   { background-color:#00ff00; }
.foswikiGreenBG  { background-color:#008000; }
.foswikiOliveBG  { background-color:#808000; }
.foswikiMaroonBG { background-color:#800000; }
.foswikiBrownBG  { background-color:#996633; }
.foswikiBlackBG  { background-color:#000000; }
.foswikiGrayBG   { background-color:#808080; }
.foswikiSilverBG { background-color:#c0c0c0; }
.foswikiWhiteBG  { background-color:#ffffff; }
/* /colors */

td {
	padding: 2px;
}

/* TablePlugin */
.foswikiTable,
.foswikiTable td,
.foswikiTable th {
        border: 1px #AAA solid;
        vertical-align:top;
}
.foswikiTable {
        margin:2px 0;
        border-collapse:collapse;
}
.foswikiTable td {
        padding:.2em .5em;
}
.foswikiTable th {
        padding:.4em .5em;
}
.foswikiTable .tableSortIcon {
        display: none;
}

.modacHide, .modacPrintHide {
	display:none;
}

#modacWrapper ul {
	list-style-image:url("../ModacSkinTheme/ModacSkinLogos/bullet.gif");
	padding-left: 15px;
	margin-left: 5px;
}

#modacWrapper ul ul {
	padding-left: 3px;
	margin-left: 3px;
}

.modacBorder {
	border: solid 1px #dddddd;
}

#modacHeading {
	border-color:#AAAAAA;
	border-style:none none solid;
	border-width:1px;
	border-collapse: collapse;
	font-size:190%;
	line-height: 1.1em;
	clear:right;
}

#modacWrapper .foswikiToc ul {
	list-style: none outside none;
}

.patternHomePath {
	display: none;
}

#modacContentHeading {
	display: none;
}

.modacHeaderTable {
	margin: 1em 0 0 0;
	border: 1px solid black;
	border-collapse: collapse;
	empty-cells:show;
	background-color: #F3F3F3;
}
.foswikiTopic>h1:first-child,
.foswikiTopic>h2:first-child,
.foswikiTopic>h3:first-child,
.foswikiTopic>h4:first-child,
.foswikiTopic>h5:first-child,
.foswikiTopic>h6:first-child {
	padding-top: 0px;
}

.modacHeaderTable td { 
	border: 1px solid black;
	border-color: #AAA;
}

.modacHeaderTable tr { 
	border-color: #AAA;
}
.Seitenzahl {
	display: inline;
}

#kopflogo {
	padding: 4px;
}

body.printLandscape img {
	max-height: 130mm;
	max-width: 255mm;
}

img {
	/*display:block; 
	margin-left:auto; margin-right:auto;*/
	max-width: 140mm;
	max-height: 185mm;
	page-break-before: avoid
}

tr, td, th { page-break-inside: avoid }

.Modac_Standard tbody:first-child tr:first-child, .Modac_Standard thead tr:first-child {
	text-align: center; 
	font-weight: bold; 
	color: #f9f9f9; 
	background: #003c89; 
	border-collapse: collapse;
	border: solid 1px #AAA;
}
/* ------- Auto numbering ------------------*/
.Modac_Standard.autonumbered tbody {
   counter-reset: rowNumber;
}
.Modac_Standard.autonumbered tbody tr {
   counter-increment: rowNumber;
}

.Modac_Standard.autonumbered tbody tr td:first-child::before {
    content: counter(rowNumber, decimal);
    min-width: 1em;
    margin-right: 0.5em;
}
/* -------------------------- Modac Tables ----------------------------*/

/*-------- Modac_Standard = MA_table --------*/
.Modac_Standard {
	margin: 1em 0;
	background: #f9f9f9;
	border-collapse: collapse;
	empty-cells:show;
}
.Modac_Standard td, .Modac_Standard th {
	border: 1px #AAA solid;
	padding-left: 3px;
	padding-right: 3px;
}
.Modac_Standard tbody:first-child tr:first-child, .Modac_Standard thead tr:first-child {
	page-break-after: avoid;
	text-align: center; 
	font-weight: bold; 
	color: #f9f9f9; 
	background: #003c89; 
}
/*-------- /Modac_Standard = MA_table --------*/

/*-------- Modac_Standard_Ohne --------*/
.Modac_Standard_Ohne {
	margin: 1em 0;
	background: #f9f9f9;
	border-collapse: collapse;
	empty-cells:show;
}
.Modac_Standard_Ohne td, .Modac_Standard_Ohne th {
	border: 1px #AAA solid;
	padding-left: 3px;
	padding-right: 3px;
}
/*-------- /Modac_Standard_Ohne --------*/

/*-------- Modac_Standard_Leer --------*/
.Modac_Standard_Leer {
	margin: 1em 0;
	border-width: 0px;
	border-collapse: collapse;
	empty-cells:show;
}
.Modac_Standard_Leer td, .Modac_Standard_Leer th {
	padding-left: 3px;
	padding-right: 3px;
}
/*-------- /Modac_Standard_Leer --------*/

/*-------- Grey_Standard* --------------*/
.Grey_Standard, .Grey_Standard_Ohne {
	background: none repeat scroll 0 0 #ffffff;
	border-collapse: collapse;
	empty-cells: show;
	margin: 1em 0;
}
.Grey_Standard td, .Grey_Standard th, .Grey_Standard_Ohne td, .Grey_Standard_Ohne th {
	border: 1px solid #808080;
	padding-left: 3px;
	padding-right: 3px;
}
.Grey_Standard tbody:first-child tr:first-child, .Grey_Standard thead tr:first-child {
	background: none repeat scroll 0 0 #cccccc;
	page-break-after: avoid;
	color: black;
	font-weight: bold;
	text-align: center;
}
/*-------- /Grey_Standard* -------------*/

/*-------- deprecated: MA_table --------*/
.MA_table {
	margin: 1em 0;
	background: #f9f9f9;
	border: 1px #AAA solid;
	border-collapse: collapse;
	empty-cells:show;
}
.MA_table td {
	border: 1px #AAA solid;
	padding-left: 3px;
	padding-right: 3px;
}
.MA_table tr:first-child { 
	page-break-after: avoid;
	text-align: center; 
	font-weight: bold; 
	color: #f9f9f9; 
	background: #003c89; 
}
.MA_table_controlling {
	margin: 1em 1em 1em 0;
	background: #f9f9f9;
	border: 1px #AAA solid;
	border-collapse: collapse;
	empty-cells:show;
}
.MA_table_controlling tr:first-child {
	page-break-after: avoid;
	text-align: center; 
	font-weight: bold; 
	color: #f9f9f9; 
	background: #003c89; 
}
/*-------- /MA_table --------*/
/* -------------------------- /Modac Tables ----------------------------*/

/*-------- Apps --------*/
.atp_edit {
	display: none !important;
}
/*-------- /Apps --------*/

/*-------- Prince Quirks --------*/
option[selected] { display: table-row }
option:not([selected]) { display: none }
/*-------- /Prince Quirks --------*/

/* add page numbers to PublishPlugin's first page */
body > a[href]::after {
	content: " [" target-counter(attr(href), page) "]";
	float: right;
}

/* don't underline etc, links which merely give a page number */
a.pdfLink, a.pdfPage, a.pdfPages {
	color: black;
	text-decoration: none;
}

/* user generated page break */
.pdfPageBreak {
        page-break-after: always;
}

/*------------Themes for standard applications------------*/
.widgetBlockTitle { 
	background-color: #6494c9; 
	color: white; 
	padding: 5px; 
	font-size: 150%; 
	font-weight: bold; 
}
.widgetBlockContent {
	border: solid 1px #6494c9; 
	padding: 10px; 
	margin-bottom: 2em; 
}
.searchTable { 
	width: 100%; 
	border: none; 
	border-collapse: collapse; 
}
.searchTable th { 
	border: solid white; 
	background:#EEEEEE; 
	color: #000000; 
	padding: 8px; 
	text-align: left; 
}
.searchTable td { 
	border: solid white; 
	border-width: 8px 1px; 
	padding: 8px; 
	background: #f8fcff; 
}
.metaDataHead {
	width:100%;	
	border-collapse: collapsed;
	border: none;
}
.metaDataHead tr {
	background: #ffffff;
}
.metaDataHead td:first-child{
	font-weight:bold;
	color: #999;
}
.metaDataHead input[type='checkbox'] {
	margin-right: 4px;
	vertical-align: middle;
}
td.metaDataHead{
    padding: 8px;
	border-color: #f8fcff;
	border-width: 8px 1px;
}
table.tasks-table {
	border-spacing: 0px !important;
}
.pdetails {
   background-color: white !important;
}
.pspacer {
   height: 20px;
   background-color: white !important;
}
.pdfClear {
	clear: both;
}
