%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"printHeaderHeight"}%5.0cm%TMPL:END%
%TMPL:DEF{"printFooterHeight"}%2.0cm%TMPL:END%
%TMPL:DEF{"printLeftMargin"}%2.0cm%TMPL:END%
%TMPL:DEF{"printRightMargin"}%1.0cm%TMPL:END%
%TMPL:DEF{"printFormat"}%A4%TMPL:END%

%TMPL:DEF{"Princeheader"}%%TMPL:P{"top"}%%TMPL:END%

%TMPL:DEF{"Princefooter"}%<div style="text-align:right;font-size:73%;line-height:150%;border-top:1px solid black;">
%SWITCHTMPL{"%CONTENT_LANGUAGE%" prefix="PrincefooterText_"}%
</div>%TMPL:END%
%TMPL:DEF{"PrincefooterText_de"}%Dieser Ausdruck ist eine Kopie und unterliegt nicht dem &Auml;nderungsdienst.<br>Der jeweilige Benutzer hat sich vor Gebrauch von der Aktualit&auml;t der Kopie zu vergewissern.<br />Druckdatum: %DATE%%TMPL:END%
%TMPL:DEF{"PrincefooterText_en"}%This printout is a copy and not subject to updating service.<br />Before use, the respective user has to make sure that the copy is up to date.<br />Print date: %DATE%%TMPL:END%
%TMPL:DEF{"PrincefooterText_default"}%%MAKETEXT{"This printout is a copy and not subject to updating service.<br />Before use, the respective user has to make sure that the copy is up to date.<br />Print date:"}% %DATE%%TMPL:END%

%TMPL:DEF{"printPageCounter"}%
%SWITCHTMPL{"%CONTENT_LANGUAGE%" prefix="printPageCounter_"}%
%TMPL:END%
%TMPL:DEF{"printPageCounter_default"}%"%MAKETEXT{"Page"}% " counter(page) "\00A0%MAKETEXT{"of"}%\00A0" counter(pages)%TMPL:END%
%TMPL:DEF{"printPageCounter_en"}%"Page " counter(page) "\00A0of\00A0" counter(pages)%TMPL:END%
%TMPL:DEF{"printPageCounter_de"}%"Seite " counter(page) "\00A0von\00A0" counter(pages)%TMPL:END%

%{"----------------------------------------------------------------"}%
%{"It is unlikely you want to customize anything below this line..."}%

%TMPL:DEF{"logo"}%%TMPL:END%
%TMPL:DEF{"bottombar"}%%TMPL:END%
%TMPL:DEF{"topicactionbuttonsTOP"}%%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:END%

%TMPL:DEF{"script:skintemplate"}%%TMPL:END%


%TMPL:DEF{"bodyclassname"}%patternViewPage patternPrintPage%TMPL:END%

%TMPL:DEF{"topicactionbuttons"}%%TMPL:END%

%TMPL:DEF{"form"}%
%META{"form"}%%TMPL:END%
%TMPL:DEF{"formtop"}%%TMPL:END%
%TMPL:DEF{"formbottom"}%%TMPL:P{"form"}%%TMPL:END%


%TMPL:DEF{"attachments"}%
%META{"attachments"}%%TMPL:END%
%TMPL:DEF{"attachmentstop"}%%TMPL:END%
%TMPL:DEF{"attachmentsbottom"}%%TMPL:P{"attachments"}%%TMPL:END%

%TMPL:DEF{"defaultstyle"}%
<style>
@page {
  margin-right: %TMPL:P{"printRightMargin"}%;
  margin-left: %TMPL:P{"printLeftMargin"}%;
  margin-top: %TMPL:P{"printHeaderHeight"}%;
  margin-bottom: %TMPL:P{"printFooterHeight"}%;
  size: %TMPL:P{"printFormat"}%%IF{"$'URLPARAM{landscape}' = '1' or ($'URLPARAM{landscape}' = '' and $LANDSCAPE = '1')" then=" landscape"}%;

  @top {
    content: flow(Princeheader)
   }

  @bottom {
    content: flow(Princefooter)
  }

}


div.Princeheader {
   flow: static(Princeheader)
}
div.Princefooter {
   flow: static(Princefooter)
}
span.Seitenzahl {
   content: %TMPL:P{"printPageCounter"}%
}
</style>
%TMPL:END%

%TMPL:DEF{"modacPageNr"}%<span class="Seitenzahl"></span>%TMPL:END% 

%TMPL:DEF{"main"}%
<div class="foswikiPage">
        <div id="modacSidebar">
        %TMPL:P{"sidebar"}%
        </div>
        <div id="modacWrapper"><div id="modacSecondWrapper">
        <div id="modacContentsWrapper"><div id="modacContents"><div id="modacContentHeading"></div>%TMPL:P{"patterntopiccontents"}%</div></div>
        %TMPL:P{"bottombar"}%</div>
        </div>
</div>
%TMPL:END%

%{ DEPRECATED: beforetext and aftertext }%
%{ compatibility transition older than 4.2: }%
%TMPL:DEF{"contentheader"}%%TMPL:P{"beforetext"}%%TMPL:END%
%TMPL:DEF{"contentfooter"}%%TMPL:P{"aftertext"}%%TMPL:END%
%TMPL:DEF{"beforetext"}%%TMPL:END%
%TMPL:DEF{"aftertext"}%%TMPL:END%

%TMPL:DEF{"broadcastmessage"}%%TMPL:END%

%TMPL:DEF{"content"}%<div class="foswikiTopic">%TMPL:P{"broadcastmessage"}% %TEXT%</div><!-- /foswikiTopic-->%TMPL:END%

%{"Princefooter must be on the first page as well, or it won't be shown on all pages"}%
%TMPL:DEF{"topheaderbody"}%
<div class="Princeheader">%TMPL:P{"Princeheader"}%</div>
<div class="Princefooter">%TMPL:P{"Princefooter"}%</div>
%TMPL:END%

%TMPL:DEF{"patterntopiccontents"}%
%TMPL:P{"topheaderbody"}%
%TMPL:P{"contentheader"}%
%TMPL:P{"formtop"}%
%TMPL:P{"attachmentstop"}%
<div class="patternContent">%TMPL:P{"content"}%</div>
%TMPL:P{"bottomcontent"}%
%TMPL:END%


